@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --color: #000000;
  --primary: #0073ff;
  --primary-forground: #ffffff;
  --secondary: #696969;
  --secondary-forground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333333;
    --color: #ffffff;
    --primary: #0073ff;
    --primary-forground: #111111;
    --secondary: #696969;
    --secondary-forground: #000000;
  }
}

body {
  color: var(--color);
  background: var(--bg);
}

main {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-primary-forground {
  color: var(--primary-forground);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
